RewriteEngine On

RedirectMatch 404 /api/?$
RedirectMatch 404 /cron/?$
RedirectMatch 404 /db/?$
RedirectMatch 404 /errors/?$
RedirectMatch 404 /lib/?$

ErrorDocument 403 /errors/403.php
ErrorDocument 404 /errors/404.php
ErrorDocument 500 /errors/500.php
